<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jetpack">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".lifecycle.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NewStart">
        <activity
            android:name=".databinding.DataBinding5Activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".databinding.DataBinding6Activity" />
        <activity android:name=".databinding.DataBinding4Activity" />
        <activity android:name=".databinding.DataBinding3Activity" />
        <activity android:name=".databinding.DataBinding2Activity" />
        <activity android:name=".databinding.DataBinding1Activity" />
        <activity android:name=".livedata.LiveData2Activity" />
        <activity android:name=".livedata.LiveData1Activity" />
        <activity android:name=".viewmodel.ViewModel1Activity" />
        <activity android:name=".lifecycle.Lifecycle3Activity" />
        <activity android:name=".lifecycle.Lifecycle2Activity" />
        <activity android:name=".lifecycle.Lifecycle1Activity" />

        <service android:name=".lifecycle.MyLocationService" />
    </application>

</manifest>